<!-- header -->
{{>header}}
<!-- /header -->
    <!-- header-menu -->
    {{>header-menu}}
    <!-- /header-menu -->
  
    <!-- Left side column. contains the logo and sidebar menu -->
    {{>side-menu-admin}}
    <!-- /sidebar menu-->


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Attendance</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Attendance</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-8">
            <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Give Attendance</h3>

              </div>
              <div class="box-body">
                <div class="login-box-body">
                    <form action="/attendance/attendance_submit" method="post">
                        <div class="form-group has-feedback">
                            <label>Date : </label>
                            <label>{{date}}</label>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Time : </label>
                            <label>{{time}}</label>
                        </div>
                        {{#if checkin}}
                          <div class="form-group has-feedback">
                              <label>Check In : </label> <label>{{checkin}}</label></br>
                              <label>You are {{intimediff}} {{instatus}} for work</label>
                          </div>
                          {{#if checkout}}
                            <div class="form-group has-feedback">
                              <label>Check Out : </label> <label>{{checkout}}</label></br>
                              <label>You are {{outtimediff}} {{outstatus}} to work</label>
                            </div> 
                          {{/if}}
                          
                        {{/if}}

                        {{#if checkin}}
                            {{#if checkout}}
                              <!-- nothing to display -->
                            {{else}}
                                <div class="form-group">
                                  <select class="form-control" name="checkoption">
                                    <option value="out">Check-Out</option>
                                  </select>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="form-group">
                                <select class="form-control" name="checkoption">
                                  <option value="in">Check-In</option>
                                </select>
                            </div>
                        {{/if}}
                        <div class="row">
                            <div class="col-xs-8">
                            
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                            {{#if checkout}}
                              {{else}}
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                            {{/if}}
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
      </div>
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer -->
{{>footer}}
<!--/footer -->